@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

@font-face {
    font-family: 'Adjusted Arial Fallback';
    src: local(Arial);
    size-adjust: 100%;
    ascent-override: normal;
    descent-override: normal;
    line-gap-override: normal;
}

body{
background-color: #21033a;
}
#widget_container{
    padding: 15px 20px;
    border: 1px solid rgba(167, 98, 234, 0.4);
    background-color: #ebe0ea;
    border-radius: 4px;
    font-family: "PT Sans", sans-serif;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 15px 0;
}

#city_header{
    color: #21033a;
    margin: 5px 0;
    font-size: 1rem;
}

#date_header{
    color: #21033a;
    margin: 0;
    font-size: 0.8rem;
}

#temperature{
    color: #21033a;
    font-size: 2.5rem;
    margin: 0;
}

#description_header{
    color: #21033a;
    margin: 0;
    font-size: 1rem;
}
#details_container{
    display: flex;
    gap: 10px;
}

.detail_wrapper{
    width: 110px;
    height: 110px;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    background-color: #21033a;
    color: white;
}

.detail_title{
    margin: 10px 0 10px 0;
    font-size: 0.8rem;
}

.detail{
    margin: 0;
    font-size: 1.7rem;
}

#description_wrapper{
    margin: 5px 0 0 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

@media only screen and (max-width: 650px) {
    #widget_container{
        display: block;
    }
    #details_container{
        margin-top: 20px;
    }
    #location_wrapper{
        display: flex;
        gap: 20px;
    }
}