@font-face {
    font-family: 'cerapro-regular';
    src: URL('/momondo-testing/fonts/cerapro-regular.woff2') format('woff2'),URL('/momondo-testing/fonts/cerapro-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'cerapro-bold';
    src: url('/momondo-testing/fonts/cerapro-bold.woff2') format('woff2'),url('/momondo-testing/fonts/cerapro-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}